@use "sass:math";

.hora {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  padding: 0.7rem 1.2rem;
  margin: 1rem 0.5rem;
  color: var(--azul);
  // box-shadow: 0 0 40px #1951770c;
  border-radius: var(--border-radius);
  transform: scale(0.8);
  opacity: 0;
  animation: 0.2s horasFadeIn forwards;
  border: 1px solid #1951771c;

  @for $i from 1 through 8 {
    $s: s;
    $delay: math.div($i, 10) + $s;
    &:nth-child(#{$i}) {
      animation-delay: $delay;
    }
  }

  .hora-temp {
    position: relative;
    font-weight: bold;
    font-size: 2rem;

    &::before {
      content: "°C";
      position: absolute;
      top: -5px;
      right: -10px;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  img {
    width: 3rem;
    height: 3rem;
  }

  .algo {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    .hora-viento,
    .hora-humedad {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.3rem;

      div {
        color: var(--gris-claro);
      }
    }
  }
}

@keyframes horasFadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 780px) {
  .hora {
    justify-content: center;
  }
}
