
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  // fuentes

  --font-poppins: 'Open Sans', sans-serif;

  // colores
  --gris-oscuro: #292522;
  --gris-claro: #3c3e44;
  --celeste: #6ab1d1;
  --azul: #042439;
  --blanco: #f3f3f3;

  --border-radius: 1.5rem;
}