.prediccion {
  min-width: 11rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 0.5rem;
  opacity: 0;
  animation: 1s prediccionFadeIn forwards;
  color: var(--azul);
  border: 1px solid #1951771c;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: #195177;
    color: var(--blanco);
  }

  .header-prediccion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;

    img {
      width: 3rem;
      height: 3rem;
      margin-left: 0.5rem;
    }

    .prediccion-dia {
      font-size: 1.7rem;
      //color: var(--gris-claro);
      font-weight: bold;
    }
  }
  .prediccion-temperatura {
    display: flex;
    gap: 0.8rem;
    font-weight: 600;
    font-size: 1.5rem;

    .tempMin {
      position: relative;
      &::before {
        content: "º";
        position: absolute;
        top: -2px;
        right: -5px;
        font-size: 1rem;
      }
    }

    .tempMax {
      position: relative;
      //color: var(--gris-claro);
      &::before {
        content: "º";
        position: absolute;
        top: -2px;
        right: -5px;
        font-size: 1rem;
      }
    }
  }
}

@keyframes prediccionFadeIn {
  to {
    opacity: 1;
  }
}
