.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--azul);
  box-shadow: 32px 0 var(--azul), -32px 0 var(--azul);
  position: relative;
  transform: scale(0.8);
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 var(--azul);
  }
  50% {
    background-color: var(--azul);
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 var(--azul), -32px 0 #fff2;
  }
}
