.card-prediccion {
  position: relative;
  grid-area: p;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blanco);

  .prediccion-titulo {
    top: 1.5rem;
    position: absolute;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #1951771c;
  }

  .contenedor-predicciones {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 3rem 1rem 3rem;
    margin: 2rem 1rem;

    .control-prev {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      cursor: pointer;
      padding: 1rem;
      background: var(--blanco);
      .prev-icono {
        font-size: 1.3rem;
        color: var(--azul);
      }
    }

    .control-next {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 1rem;
      cursor: pointer;
      background: var(--blanco);
      .next-icono {
        font-size: 1.3rem;
        color: var(--azul);
      }
    }
  }
}
