
.card-prediccion {  
  grid-area: p;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items:center;
  background: var(--blanco);
  padding: 1rem;
  min-height: 200px;


  .contenedor-predicciones {
    display: flex;  
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    margin: 1rem;   
    transform: scale(0);
    opacity: 0;
    animation: 1s fadeIn forwards;   
    padding-bottom: 2rem;

    /* Elemento base */
    &::-webkit-scrollbar {
      width: 10px;
      
    }

    /* Carril */
    &::-webkit-scrollbar-track {
      background: var(--blanco);
      border-radius: var(--border-radius);
      margin: 1rem;
    }
    /* Manejador */
    &::-webkit-scrollbar-thumb {
      background: var(--azul);
      border-radius: 50px;
    }

    /* Manejador hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #8f51d1;
    }
  }
}



@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

