
.card-prediccion {  
  grid-area: p;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items:center;
  background: var(--blanco);
  min-height: 200px;

  .contenedor-predicciones {
    display: flex;  
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    transform: scale(0);
    opacity: 0;
    animation: 1s fadeIn forwards;   
    padding:2rem 1rem;
    margin: 2rem;

    /* Elemento base */
    &::-webkit-scrollbar {
      height: .6rem;
      
    }

    /* Carril */
    &::-webkit-scrollbar-track {
      background: var(--blanco);
      border-radius: var(--border-radius);
      margin: 1rem;
    }
    /* Manejador */
    &::-webkit-scrollbar-thumb {
      background: var(--azul);
      border-radius: 50px;
    }

    /* Manejador hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--celeste);
    }
  }
}



@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

