
.panel-clima { 
  display: grid;
  grid-template-areas:  "f f"
                        "h c"
                        "p p";
  overflow: hidden;
  background: var(--blanco);
  border-radius: var(--border-radius);
}

@media (max-width: 450px) {
  .panel-clima {
    transform: scale(.8);
    width: 100%;
  }
}

@keyframes climaFadeIn {
  to {
    height: 620px;
  }
}
