.panel-clima {
  position: relative;
  display: grid;
  //flex-direction: column;
  min-width: 440px;
  grid-template-areas:
    "f f"
    "i h";
  grid-template-columns: 440px 1fr;
  background: var(--blanco);
  border-radius: var(--border-radius);
  transform: scale(0.9);

  .ver-mas {
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -1.7rem;
    top: 50%;
    transform: translateY(-50%) scale(0);
    cursor: pointer;
    background: #dde2e6;
    border-radius: var(--border-radius);
    z-index: 100;
    opacity: 0;
    animation: 1s verMasFadeIn forwards;
    transition: 0.3s;

    &:hover {
      background: #195177;
      .icono-verMas {
        color: var(--blanco);
      }
    }

    .icono-verMas {
      font-size: 2rem;
      color: var(--azul);
    }
  }

  .info-panel {
    grid-area: i;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0px;
    animation: 1s climaFadeIn forwards;
    overflow: hidden;
    border-radius: var(--border-radius);
  }
}

@media (max-width: 780px) {
  .panel-clima {
    position: relative;
    grid-template-areas:
      "f"
      "i"
      "h";
    transform: scale(0.9);

    .ver-mas {
      right: calc(50% - 2rem);
      top: calc(100% - 1.7rem);
      transform: translateX(50%);
      .icono-verMas {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 450px) {
  .panel-clima {
    transform: scale(0.8);
  }
}

@keyframes climaFadeIn {
  to {
    height: 600px;
  }
}

@keyframes verMasFadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
