.card-horas {
  grid-area: h;
  height: 100%; 
  width: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 1s;  

  .contenedor-horas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
}

.abrirHoras {
  animation: 1s abrirHorasFadeIn forwards; 
}

.cerrarHoras {
  animation: 1s cerrarHorasFadeIn forwards; 
}


@keyframes abrirHorasFadeIn {
  0% {
    width: 0px;
    padding-right: 0;

  }
  100% {
    width: 300px;
    padding-right: 3.5rem;

  }
}

@keyframes cerrarHorasFadeIn {
  0% {
    width: 300px;   
    padding-right: 3.5rem;

  }
  100% {
    width: 0px;
    padding-right: 0;

  }
}

@keyframes horasFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 780px) {
  .card-horas {
    width: 100%;
    height: 0px;

    .contenedor-horas {
      justify-content: center;
    }
  }

  @keyframes abrirHorasFadeIn {
    0% {
      height: 0px;
      padding-right: 0;
  
    }
    100% {
      height: 610px;  
    }
  }

  @keyframes cerrarHorasFadeIn {
    0% {
      height: 610px;     
    }
    100% {
      height: 0px;
      padding-right: 0;
  
    }
  }
}